.MyInput_comp {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content:start;
}
.MyInput__input {
    margin-left: 40px;
    width: 50%;
    height: 40px;
    font-size: 30px;
}